<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="main-nav list-unstyled">
        {{#link-to 'index' class='navbar-brand'}}My Hike{{/link-to}}
      </ul>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav sub-header">
        <li>
          {{#link-to 'trails' class='sub-header'}}Hikes{{/link-to}}
        </li>
        <li>
          {{#link-to 'maps' class='sub-header'}}Maps{{/link-to}}
        </li>
        <li>
          {{#link-to 'about' class='sub-header'}}About{{/link-to}}
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          {{input type="text" value=search placeholder="Search Trails" class="search form-control"}}
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li>
            <a {{ action 'invalidateSession' }}>Logout</a>
          </li>
        {{else}}
          <li>
            {{#link-to 'users.new'}}Register{{/link-to}}
          </li>
          <li>
            {{#link-to 'login'}}Login{{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

{{#if search.length}}
  <div class='search-result-box well col-sm-3'>
    <h4 class="searched-trails">Search Results</h4>
      {{#each trail in trails}}
        <a href='#' {{action 'hideSearchBox'}}>{{#link-to 'trails.show' trail}} {{trail.name}} {{/link-to}}</a><br>
      {{/each}}
  </div>
{{/if}}


<div class="container">
  <div id='main-outlet'>
    {{outlet}}
  </div>
</div>
