<h1>{{name}}</h1>

Location: {{location}}

Latitude: {{latitude}}
Longitude: {{longitude}}


<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD7eL97U_zG1oN0zY7CO0CJTFxsGMxsN1M
    &q={{address}}">
</iframe>
