<h1>{{name}}</h1>

Location: {{location}}<br>
Latitude: {{latitude}}<br>
Longitude: {{longitude}}<br>

<p>{{link-to "edit" 'trails.show.edit' this class="btn btn-warning"}}</p>
<p>{{link-to "Rate This Hike" 'trails.show.ratings.new' class="btn btn-info"}}</p>

{{outlet}}
