<h1>{{name}}</h1>

Location: {{location}}<br>
Latitude: {{latitude}}<br>
Longitude: {{longitude}}
Longitude: {{longitude}}<br>

<p>{{link-to "edit" 'trails.show.edit' this class="btn btn-warning"}}</p>

{{outlet}}
